.app {
  background-color: aliceblue;
  height: 100vh;
  display: grid;
  place-items: center;
  /* display: flex; */
}

.app_body {
  display: flex;
  /* margin: auto; */
  background-color: antiquewhite;
  height: 90vh;
  width: 90vw;
  box-shadow: 0px 0px 5px 0px rgba(109, 104, 104, 0.56);
}

a{
  text-decoration: none !important;
  color: black;
}
